<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Mail App Design</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'app-style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="main-container">
    {% include 'account-container.html' %}
    {% include 'messages-container.html' with messages=messages %}
    {% include 'content-container.html' %}
    <div class="clear"></div>
</div>
<!-- partial -->
<script src='https://unpkg.com/feather-icons'></script>
<script src="script.js"></script>

</body>
</html>
