<div class="content-container">
    <div class="email-container">
        <div class="header">
            <h3 class="author">
                Jane Doe
                <span class="email">janedoe@code.com</span>
            </h3>
            <span class="date">13 Jan 2019</span>
        </div>
        <h2 class="title">Hey there, hope you're fine.</h2>
        <div class="text">
            <p>{% lorem %}</p>
            <p>{% lorem %}</p>
        </div>
    </div>
    <ul class="actions">
        <li class="action-item">
            <i data-feather="check-square"></i>
        </li>
        <li class="action-item" title="Reply">
            <i data-feather="corner-up-left"></i>
        </li>
        <li class="action-item">
            <i data-feather="printer"></i>
        </li>
        <li class="action-item">
            <i data-feather="trash"></i>
        </li>
    </ul>
</div>