<div class="messages-container">
    <label>
        <input class="search-input" type="text" placeholder="Search for messages..."/>
    </label>
    <div class="filter">
        <i data-feather="filter"></i>
        <span class="filter-name">Latest</span>
    </div>
    <ul class="message-list">
        {% for i in messages %}
            {% if i.is_read == True %}
                <li class="message-item">
                    {% else %}
                <li class="message-item not-read">
            {% endif %}
                <div class="header">
                    <h3 class="author">{{ i.get_author_name }}</h3>
                    <span class="date">{{ i.date }}</span>
                </div>
                <h2 class="title">{{ i.name }}</h2>
                <p class="text">{{ i.message }}</p>
            </li>
        {% endfor %}
    </ul>
</div>