<div class="content-container">
    <div class="email-container">
        <div class="header">
            <h3 class="author">Jane Doe<span class="email">janedoe@code.com</span></h3><span class="date">13 Jan 2019</span>
        </div>
        <h2 class="title">Hey there, hope you'r fine.</h2>
        <div class="text">
            <p>Facilisis arcu maximus et molestie urna eget a urna felis scelerisque nisl maximus metus sed felis
                eros interdum sed maximus quis eu morbi enim mi.</p>
            <p>Erat condimentum quis placerat rutrum diam nisl bibendum dolor purus tempus rutrum euismod ipsum urna
                felis massa et orci scelerisque diam portaest rutrum phasellus ipsum metus vivamus erat lacus
                suspendisse lacus bibendum elit metus magna orci massa phasellus morbi cursus urna pellentesque
                gravida nisi et bibendum ipsum hendrerit metus id gravida accumsan mi nunc dolor suspendisse ex
                phasellus urna tristique sollicitudin aliquam nisi.</p>
        </div>
    </div>
    <ul class="actions">
        <li class="action-item"><i data-feather="check-square"></i></li>
        <li class="action-item"><i data-feather="corner-up-left"></i></li>
        <li class="action-item"><i data-feather="printer"></i></li>
        <li class="action-item"><i data-feather="trash"></i></li>
    </ul>
</div>