<div class="messages-container">
    <input class="search-input" type="text" placeholder="Search for messages..."/>
    <div class="filter"><i data-feather="filter"></i><span class="filter-name">Lastest</span></div>
    <ul class="message-list">
        <li class="message-item not-readed">
            <div class="header">
                <h3 class="author">Jane Doe</h3><span class="date">13 Jan 2019</span>
            </div>
            <h2 class="title">Hey there, hope you'r fine.</h2>
            <p class="text">{% lorem %}</p>
        </li>
        <li class="message-item">
            <div class="header">
                <h3 class="author">Jane Doe</h3><span class="date">13 Jan 2019</span>
            </div>
            <h2 class="title">Hey there, hope you'r fine.</h2>
            <p class="text">{% lorem %}</p>
        </li>
        <li class="message-item">
            <div class="header">
                <h3 class="author">Jane Doe</h3><span class="date">13 Jan 2019</span>
            </div>
            <h2 class="title">Hey there, hope you'r fine.</h2>
            <p class="text">{% lorem %}</p>
        </li>
        <li class="message-item not-readed">
            <div class="header">
                <h3 class="author">Jane Doe</h3><span class="date">13 Jan 2019</span>
            </div>
            <h2 class="title">Hey there, hope you're fine.</h2>
            <p class="text">{% lorem %}</p>
        </li>
    </ul>
</div>